.heading {
  background-color: #ccc;
  padding: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 1rem;
}
.person-tile {
  display: flex;
  justify-content: space-between;
  border: thin solid #bbb;
  padding: 0.5rem;
  border-radius: 4px;

}
