<ng-content></ng-content>
<div class="list">
  <div *ngFor="let person of peopleList" class="person-tile">

    <p>{{ person.name }}</p>

    <app-button
      [showAddButton]="!person.isFriend"
      (click)="onFriendshipChange(person.id)">
    </app-button>

  </div>
</div>


