.page{
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  .friend-list{
    border: thin solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    box-shadow: 2px 2px 6px 2px #ccc;
  }
}
