<main class="page">

  <app-list
    [peopleList]="getPeopleWithFriendshipStatus(false)"
    (changeFriendshipStatus)="onFriendshipStatusChange($event)"
    class="friend-list">
    <h2>People List</h2>
  </app-list>

  <app-list
    [peopleList]="getPeopleWithFriendshipStatus(true)"
    (changeFriendshipStatus)="onFriendshipStatusChange($event)"
    class="friend-list">
    <h2>Friend's List</h2>
  </app-list>

</main>
